body {
	font-family: 'Roboto', san-serif;
	font-size: 11px;
	margin: 0px;
	padding:5px;
	background-color:#FFFFFF;
	
	}
	
	
/* Style specific css starts here */	
table.websiteheader {background:#4283EF;padding-left: 20px;}
table.mainpagecats a {color:#35608f;text-decoration: none;}
table.mainpagecats a:hover {color: #B22222;text-decoration: underline;}
table.mainpagecats th {border-bottom:2px solid #35608f;font-size:16px;font-weight: bold;font-family: verdana, helvetica, sans-serif;margin:0px;padding-bottom:2px;text-align: left;font-family: arial, helvetica, sans-serif;text-transform: none;margin: 0px;padding-bottom: 2px;}
table.mainpagecats td {font-size: 12px;font-family: geneva, helvetica, sans-serif;padding: 2px;}
table.mainpagecats .count {color: gray;font-weight: normal;font-size: 10px;}
table.mainpagecats th .count {color: gray;font-style:normal;  font-size: 10px;}
table.eventdatebox  th {text-align:center;border-top-left-radius: 5px;border-top-right-radius:5px;border:1px solid #35608f;background-color:white;font-size:10px;color:black;padding:1px;}
table.eventdatebox  td {border-bottom-left-radius: 5px 5px;border-bottom-right-radius: 5px 5px;border:1px solid #35608f;background:#35608f;font-size:9px;color:white;padding:1px;}
table.adslisttable a {color:#35608f;font-weight:bold;font-size:12px;font-family:geneva;}
table.adslisttable a:hover {text-decoration:underline;}
table.adslisttable_featured a {color:#35608f;font-weight:bold;font-size:12px;font-family:geneva;}
table.adslisttable_featured a:hover {text-decoration:underline;}
div.callinks {background:#35608f;}
div.imglinks {background:#35608f;}
/* Style specific css ends here */



input, textarea, select, optgroup, option {
	font-family: Verdana, sans-serif;
	font-size: 11px;
  

}

.textonpost {

	font-size: 14px;	
    color: 	darkslategray;
	border-bottom: 1px solid lightblue;
	padding: 10px;
}      
        

.fieldset_foto {
width:200px;
border: 1px solid #cccccc;

}



.sb {
margin-top: 0px;
background-color: #82acff;
border: 0px;
padding: 0px;
}

.searchbox {
  
  background-repeat:no-repeat;
  background-color:white;
  border: 1px solid LightSlateGray;
  

}



.inputs {
  
  background-color:white;
  border: 1px solid #DDDDDD;
  height:20px;
  font-size: 15px;
  color: gray;

  
  
} 
  

  


.latest{

border: 1px outset orange;
  
  
  
  
} 

.latest:hover {
  
  border: 1px inset green;
  
  
} 



.note
{
background-image: url('images/note.gif');
background-repeat:no-repeat;
width: 200px;
height: 200px;
padding-left: 4px;
color:gray;
font-weight: bold;
color:gray;




} 





td {
	font-size: 11px;
}

a {
	color: #35608f;/*#006595;*/
	text-decoration: none;
}

a:hover {
	color: #B22222;
	text-decoration: none;
}

h1 {
	font-size: 16pt;
	margin: 0px;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
}

th {
	font-size: 12px;
	text-align: left;
}

form {
	margin: 0px;
}


pre {
	font-family: "Courier New";
	font-size: 12px;
	text-align: left;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.err {
	color: red;
	font-weight: bold;
	margin-bottom: 5px;
}

.imp {
	color: #CC3300;
	font-weight: bold;
	margin-bottom: 4px;
}

.msg {
	color: green;
	margin-bottom: 5px;
}

.marker {
	color: red;
	font-weight: bold;
}

.hint {
	font-size: 12px;
	font-style: italic;
	color: gray;
}


       
}

#logo {
	font-size: 12px;
	font-weight: normal;
}

#logo a {
	color: gray;
	text-decoration: none;
}

#logo a:hover {
	color: #DF971E;
	text-decoration: none;
}

#today {
	font-size: 12px;
        color:green;
}

#nav {
	text-align: right;
}

#city {
	font-weight: bold;
	font-size: 14px;
	display: block;
        
}

#sidebar_left {
	padding-top: 10px;
	background-color: white; /*white*/
	
	border-bottom: 1px dotted #B1C7DE;
}

.buttons td {
	text-align: center;
	background-color: steelblue;
}

.buttons a {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	padding: 3px;
}

#sidebar_left .head {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #003366;
}

#sidebar_left table.linkbox {
	margin-bottom: 15px;
}

#sidebar_left table.linkbox a {
	display: block;
	text-align: center;
	padding: 3px;
	border-bottom: 1px solid #DDDDDD;
}

table.sidebox {
	margin-bottom: 10px;
}

table.sidebox td {
	text-align: left;
}

#contentcell {
        
	border-top: 0px;
	border-bottom: 1px dotted #B1C7DE;
       
}

#content {
        
	padding-top: 0px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
}

#path {
	background-color: LemonChiffon;
	font-size: 16px;
	margin-bottom: 2px;
}

#path td {
	padding: 2px 2px 2px 2px;
}

#path a {
	color: #4682B4
	text-decoration: none;
}

#path a:hover {
	color: black;
	text-decoration: underline;
}


	

.eventnav {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 5px;
}

table.dir {
}


table.postlisting { 
}

table.postlisting td { 
	
}

table.postlisting td.head, table.postlisting tr.head td { 
	font-weight: bold;
              color: gray;

	background-color: #EAEAEA;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 0px;
}

table.postlisting td.datehead { 
	background-color: white;
        	color: green;
	/*border-bottom: 1px solid #CCCCCC;*/
	border-bottom: 0px;
	font-size: 10px;
              
}

table.postlisting td.icon { 
}

table.postlisting td.icon img { 
}

table.postlisting .posttitle { 
	
	font-size:14px;


}

table.postlisting .date { 
	font-style: italic;
	
}

.postheader { 
	
	color: #4682B4;
	
	
}

.postheader .icon { 
	/*vertical-align: top;*/
color: #4682B4;
}

.postheader .posttitle { 
	font-size: 14px;
	
	color: 	#2F4F4F;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.postheader .postarea { 
	font-size: 11px;
	color: #4682B4;
	font-weight: normal;
}

.post { 
	margin-bottom: 5px;
	color: #4682B4;
    
}

.post .link_marker { 
	color: darkorange;
	font-weight: bold;
}

.disclosures {
	padding: 5px;
}

.disclosure_yes {
	color: green;
}

.disclosure_no {
	color: red;
}

.disclosures b {
}

.postpics { 
	margin-bottom: 10px;
	/*border-bottom: 1px solid #DDDDDD;*/
}

.postpics img { 
	border: 1px dotted gray;
	/*padding: 10px;
	background-color: #FAFAFA;*/
}

.imglisting {
}

.imgitem {
	margin-bottom: 30px;
}

.imgitem .head {
	font-size: 12px;
	font-weight: bold;
}

.imgitem img.img {
	margin-top: 5px;
	border: 1px inset teal;
}

.imgitem .caption {
}

.imgitem .poster {
	font-weight: bold;
}

.imgitem .time {
	font-weight: bold;
}

.imgitem .desc {
	margin-top: 5px;
}

.linkbox2 {
	background-color: darkorange;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	text-align: center;
	color: white;
}

.linkbox2 a {
	display: block;
	color: white;
}

.linkbox2 a:hover {
	color: white;
	text-align: center;
}

.imagecredits {
	padding: 5px;
}

.head {
	font-weight: bold;
}

.imagecredits a {
}

.imagecredits .count {
	color: #BBBBBB;
	font-size: 10px;
}

.comments {
}

.comments .head {
	font-size: 12px;
	font-weight: bold;
}

.commentitem {
	margin-bottom: 10px;
}

.commentitem .poster {
	font-weight: bold;
	display: block;
}

.commentitem .time {
	color: gray;
	display: block;
}

.commentitem .comments {
	display: block;
}

#sidebar_right_cities {
	
     
	background-color: #84AE0C;
	padding: 5px 5px 5px 5px;
        border-left: 1px dotted #B1C7DE;
        border-bottom: 1px dotted #B1C7DE;
        
}

#sidebar_right {
	
	
}

#sidebar_right a {
}

.citylist_country {
	display: block;
	color: #4682B4;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 0px;
}

.citylist_city {
	color: #4682B4;
	font-size: 10px;
	
}

#footer {
	color: darkslategray;
}

#footer td {
	font-size: 10px;
	
}

table.postad {



}

img.thumb {
	border: 1px solid gray;
	padding: 1px;

}

.postpath {
	padding: 5px;
	border: 1px solid #DBC06F;
	background-color: #F7F0DD;
	font-size: 12px;
	color: brown;
	margin-bottom: 5px;
}

.postpath b {
	color: teal;
}

.postpath a {
	font-weight: bold;
	color: #003399;
	font-size: 11px;
}

#search_top {
	
	padding: 10px 10px 10px 10px;
	background-color: #F1F1F1;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.invoice {
	background-color: #F0F0F0;
	border-right: 1px solid #EAEAEA;
	border-top: 1px solid #EAEAEA;
}

.invoice td {
	background-color: white;
	padding: 5px;
	border-left: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
}

.invoice .empty {
	background-color: white;
	border: 1px solid white;
}

.invoice .firstcell {
	font-weight: bold;
}

.invoice .maincell {
	/*background-color: #DEFFCD;*/
	text-align: right;
}

.invoice .totalrow td {
	background-color: #DEFFCD;
}

.invoice .totalrow .totalcell {
	background-color: #DEFFCD;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
}



.featuredad_first, .featuredad_first td {
	background-color: white;
	
	border-bottom: 1px solid #D3D3D3;


	padding: 5px 5px 2px 5px;
	margin-bottom: 10px;
}

.featuredad, .featuredad td {
	background-color: white;

	border-bottom: 1px solid #D3D3D3;
	padding: 5px 5px 2px 5px;
	margin-bottom: 10px;
}

.featuredad a, .featuredad_first a {
	font-weight: bold;
}

.post_note {
	color: black;
	
	
	padding: 4px;
}

.latestposts { 
	padding-top: 1px;
        padding-top: 1px;
	margin-bottom: 1px;
        margin-bottom: 1px;
}

.latestposts .head { 
	padding-bottom: 1px;
	color: steelblue;
	font-size: 12px;
}

.latestposts td { 
	border-top: 1px solid #F0F0F0;
}

.adcat {
	font-size: 9px;
	color: #444444;
	/*text-decoration: underline;*/
}

table.latestads_table td {
	padding: 1px;
}

table.latestads_table a.featured {
	font-weight: bold;;
}

.catlist .cat {
	padding: 1px;
	display: block;
}

.catlist .cat a {
	font-weight: bold;
}

.catlist .subcat {
	padding: 1px;
	display: block;
}

.catlist .count {
	color: gray;
}

.adpreview {
	display: block;
	font-size: 10px;
	color: black;
	padding:5px;
}


.hits {
	font-size: smaller;
	text-align: right;
}

.wmd-preview {
	border: 1px solid silver;
	background-color: #FAF9F5;
	padding: 10px;
	margin-bottom:  10px;
}



#citytitle {
	font-size: 14px;
	font-weight: bold;
}

#citytitle a {
	color: green;
	text-decoration: none;
}

#citytitle a:hover {
	color: #DF971E;
	text-decoration: none;
}

#demo {
    background-color: #F0E68C;
    padding: 5px 5px 5px 10px;
    margin: 3px 0px 0px -10px;
    width: 160px;
    font-family: Georgia, serif;
    font-size: 13px;
}

#demo a {
	text-decoration: underline;
	color: crimson;
	margin-left: 5px;
}

.flatnavsep {
	font-weight: bold;
	color: #DF971E;
}



.hor{
float:center;
width:500px;
height:70px;
overflow:auto;
overflow-y: hidden;
border: 2px solid orange;
white-space: nowrap;

}

/* BEGIN Account (If you have a custom design you may need to change these values) */

.acc_row_light {
	background-color: #FFFFFF;
}

.acc_row_dark {
	background-color: #E4EBF8;
}

table.panel_border {
	border: 1px #A5A5A5 solid;
}

#fImage {
   border: 1px #949494 solid;
}

.welcome {
   color: #003366;
   font-weight:bold;
}

#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; } 
#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }

* html #overlay{
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}



.roundedcornr_box_536436 {
   background: #82acff;
}
.roundedcornr_top_536436 div {
   background: url(roundedcornr_536436_tl.png) no-repeat top left;
}
.roundedcornr_top_536436 {
   background: url(roundedcornr_536436_tr.png) no-repeat top right;
}
.roundedcornr_bottom_536436 div {
   background: url(roundedcornr_536436_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_536436 {
   background: url(roundedcornr_536436_br.png) no-repeat bottom right;
}

.roundedcornr_top_536436 div, .roundedcornr_top_536436, 
.roundedcornr_bottom_536436 div, .roundedcornr_bottom_536436 {
   width: 100%;
   height: 10px;
   font-size: 1px;
}
.roundedcornr_content_536436 { margin: 0 10px; }

.bstyle{           
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: EFEFEF;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}
.wstyle {
display: none;
position: absolute;
top: 10px;
right: 5px;


padding: 5px;
border: 1px solid #000000;
background-color: white;
width: 500px;
height: 400px;
z-index:1002;
overflow: auto;
}

#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px solid #b9b991;
padding: 5px;
background-color: #ffffcc;
visibility: hidden;
color:gray;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}






#search_inner {
	width:100%;
	text-align: left;
	
}




.select_main {
  background-color:white;
  padding-top:4px;
  padding-bottom:6px;
  padding-left:2px;
  padding-right:2px;
  border: 2px solid orange;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}


.pod99 {
margin-right:5px;
}

#status{
    	
    	height:22px;
    	outline:none;
	background-image:url('images/magnifying-glass.gif');
  background-repeat:no-repeat;
  padding-left:22px;
    }
   	

#rnd_container {background: #FFFFFF; margin:1px;}
    
    .rnd_top, .rnd_bottom {display:block; background:#FFFFFF; font-size:1px;}
    .rnd_b1, .rnd_b2, .rnd_b3, .rnd_b4 {display:block; overflow:hidden;}
    .rnd_b1, .rnd_b2, .rnd_b3 {height:1px;}
    .rnd_b2, .rnd_b3, .rnd_b4 {background:#FFFFFF; border-left:1px solid #6699FF; border-right:1px solid #6699FF;}
    .rnd_b1 {margin:0 5px; background:#6699FF;}
    .rnd_b2 {margin:0 3px; border-width:0 2px;}
    .rnd_b3 {margin:0 2px;}
    .rnd_b4 {height:2px; margin:0 1px;}
    
    .rnd_content {
    display:block;
    border:0 solid #6699FF;
    border-width:0 1px;
    padding: 4px;
    background:#FFFFFF;
    color:#000000;
}

/* BEGIN Account (If you have a custom design you may need to change these values) */

.acc_row_light {
	background-color: #FFFFFF;
}

.acc_row_dark {
	background-color: #E4EBF8;
}

table.panel_border {
	border: 1px #A5A5A5 solid;
}

#fImage {
   border: 1px #949494 solid;
}

.welcome {
   color: #003366;
   font-weight:bold;
}



/* END Account */


#rnd_container {background: #FFFFFF; margin:1px;}
    
    .rnd_top, .rnd_bottom {display:block; background:#FFFACD; font-size:1px;}
    .rnd_b1, .rnd_b2, .rnd_b3, .rnd_b4 {display:block; overflow:hidden;}
    .rnd_b1, .rnd_b2, .rnd_b3 {height:1px;}
    .rnd_b2, .rnd_b3, .rnd_b4 {background:#FFFFFF; border-left:1px solid #009900; border-right:1px solid #009900;}
    .rnd_b1 {margin:0 5px; background:#009900;}
    .rnd_b2 {margin:0 3px; border-width:0 2px;}
    .rnd_b3 {margin:0 2px;}
    .rnd_b4 {height:2px; margin:0 1px;}
    
    .rnd_content {
    display:block;
    border:0 solid #009900;
    border-width:0 1px;
    padding: 4px;
    background:#FFFFFF;
    color:#000000;
}

#rnd_container2 {background: #FFFFFF; margin:1px;}
    
    .rnd_top2, .rnd_bottom2 {display:block; background:#FFFACD; font-size:1px;}
    .rnd_b12, .rnd_b22, .rnd_b32, .rnd_b42 {display:block; overflow:hidden;}
    .rnd_b12, .rnd_b22, .rnd_b32 {height:1px;}
    .rnd_b22, .rnd_b32, .rnd_b42 {background:#DEFFCD; border-left:1px solid #DEFFCD; border-right:1px solid #DEFFCD;}
    .rnd_b12 {margin:0 5px; background:#D2E4D2;}
    .rnd_b22 {margin:0 3px; border-width:0 2px;}
    .rnd_b32 {margin:0 2px;}
    .rnd_b42 {height:2px; margin:0 1px;}
    
    .rnd_content2 {
    display:block;
    border:0 solid #DEFFCD;
    border-width:0 1px;
    padding: 4px;
    background:	#DEFFCD;
    color:#000000;
}

.tdimagel {
background-image: url(images/gradientl.bmp);
background-repeat:no-repeat;

}

.tdimage {
background-image: url(images/gradient.bmp);
background-repeat:repeat-x;

}

.tdimager {
background-image: url(images/gradientr.bmp);
background-repeat:no-repeat;

}

.tdimage2 {
background-image: url(note32.bmp);
background-repeat:no-repeat;
}

.tdimage3 {
background-image: url(csi.gif);
background-repeat:no-repeat;
}

.footergrass {
background-image: url(images/grass.gif);
background-repeat:repeat-x;
}



#city-filter {
    font-size: 1.1em; 
    margin: 10px 0px 20px; 
}

#city-filter a {
    padding: 0px 2px;
}

#city-filter .selected {
    background-color: lightyellow;
    padding: 0px 2px;
}



#newadbutton
{
  display: block;
  width: 198px;
  height: 25px;
  background: url("images/doblatest3.png") no-repeat 0 0;

}



#newadbutton:hover
{ 
  background-position: 0 -25px;
}

#newadbutton span
{
  display: none;
}


#newadbutton2
{
  display: block;
  width: 162px;
  height: 38px;
  background: url("images/orange_postnow.gif") no-repeat 0 0;

}

#newadbutton2:hover
{ 
  background-position: 0 -38px;
}

#newadbutton2 span
{
  display: none;
}

.tdimageform {
background-image: url(images/searchtest2.gif);
background-repeat:repeat-x;
height:38px;
padding-top:9px;
padding-left:5px;

}

.tdimageformll {
background-image: url(images/searchtest1.gif);
background-repeat:no-repeat;
height:38px;
width:11px;
margin-left:2px;


}

.tdimageformr {
background-image: url(images/searchtest3.gif);
background-repeat:no-repeat;
height:38px;
width: 85px;
padding-top:0px;

}




#info_panel {

border: 1px solid #84BE6A;
background-color:#C1FFC1;
padding: 3px;
margin-bottom: 5px;
color: gray;

}


.gallerycontainer{
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
border-bottom: 1px dotted gray;
}

.thumbnail img{
border: 1px solid gray;
margin: 0 2px 2px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 1px solid gray;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 2px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
visibility: visible;

left: 242px; /*position where enlarged image should offset horizontally */
top: -169px;
z-index: 50;
}

.pricetag
{
  
  background: url("images/ptag.png") no-repeat;
  width:105px;
  height:21px;
  padding-left:17px;
  padding-top:2px;

}


/* Bookmark mod start */
#bookmarktitle {
	font-size: 10px;
	font-weight: bold;
}

#bookmarktitle a {
	color: black;
	text-decoration: none;
}

#bookmarktitle a:hover {
	color: #DF971E;
	text-decoration: none;
}

.bookmarkcell, .bookmarkcell td {
	background-color: #FAF9F6; /*#ECF5FA;*/
	font-size: 10px;
}

.bookmarkcellalt, .bookmarkcellalt td {
	background-color: white; /*#F4FAFD;*/
	font-size: 10px;
}

.bookmarkcell, .bookmarkcell td {
	background-color: #FAF9F6;
	font-size: 10px;
}

.bookmarkcellalt, .bookmarkcellalt td {
	background-color: white;
	font-size: 10px;
}

.savead{
	cursor:pointer;
	display:inline;
	vertical-align:middle;
	font-weight:bold;
	border:0;
	background-color:transparent;
	text-indent:-9999px;
	display:block;
	width:17px;
	height:17px;
	background-image:url(images/stars.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
}

.bookmarktext{
	font-family: Georgia, serif;
	font-size: 11px;
	font-style: italic;
	color: #FF9900;
}
/* Bookmark mod end   */




.dyna img{
border: 1px solid #ccc;
}

.dyna:hover img{
border: 1px solid #DBC06F;
}

.dyna:hover{
color: red; /* Dummy definition to overcome IE bug */
}


.tooltip {
	display:none;
	background:transparent url(/images/white_arrow_bottom.gif);
	font-size:11px;
	height:61px;
	width:141px;
	padding:25px;
	padding-top:30px;
	color:black;	
}



.yell_sq_top
{
  
  background: url("images/yell_sq_top.png") no-repeat;
  width:200px;
height:10px;
  padding-left:8px;
  padding-right:5px;
 
}

.yell_sq_middle
{
  
  background: url("images/yell_sq_middle.png") repeat-y;
  width:200px;
  padding-left:7px;
  padding-right:7px;
 
}

.yell_sq_bottom
{
  
  background: url("images/yell_sq_bottom.png") no-repeat;
  width:200px;
height:10px;
  padding-left:7px;
  padding-right:7px;
  margin-bottom:5px;
 
}



.green_sq_top
{
  
  background: url("images/green_sq_top.png") no-repeat;
  width:200px;
height:10px;
  padding-left:8px;
  padding-right:5px;
 
}

.green_sq_middle
{
  
  background: url("images/green_sq_middle.png") repeat-y;
  width:200px;
  padding-left:7px;
  padding-right:7px;
 
}

.green_sq_bottom
{
  
  background: url("images/green_sq_bottom.png") no-repeat;
  width:200px;
height:10px;
  padding-left:7px;
  padding-right:7px;
 
}

.curr_conv
{
  
  background: url("images/curr_conv.png") no-repeat;
  width:210px;
  height:242px;

 
}


.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 728px;
	height:78px;
	margin-top: 5px;
	

	/* custom decorations */
	border:1px solid #ccc;
	background:url(../images/h300.png) repeat-x;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:730px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:2px 2px 2px 2px;
	background-color:#fff;
	padding:1px;
	border:1px solid #ccc;
	width:96px;
	height:70px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	border:1px solid #000;
	position:relative;
	cursor:default;
}


/* tooltip styling */
.tooltip2 {
	display:none;
	background:url(images/white_arrow_big.gif);
	height:384px;
	padding:0px 30px 10px 30px;
	
	width:160px;
	font-size:12px;
	color:black;
	z-index: 20000;
	overflow: auto;
}

/* a .label element inside tooltip */
.tooltip2 .label {
	color:yellow;
	width:35px;
}

.tooltip2 a {
	color:#4682B4;
	font-size:12px;
	font-weight:normal;
}



/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:white;
	
		
	min-height:200px;
	border:1px solid #666;
	padding:1px;
		
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../images/image_close.png);
	position:absolute;
	left:0px;
	top:0px;
	cursor:pointer;
	height:100%;
	width:100%;
}

#exposeMask {
	background:#678 url(images/mask_gradient_1000.png) repeat;
	background-position:-260px -79px;
}

form.expose {
	border:1px outset #ccc;
	background:#fff url(images/h150.png) repeat;
	padding:20px;
	margin:20px 0;
	text-align:left;
	
	
	-moz-border-radius:4px;
}

.registerbutton {
	border:1px outset #ccc;
	background:#fff url(images/h150.png) repeat;
	padding:20px;
	margin:20px 0;
	text-align:left;
	
	
	-moz-border-radius:4px;
}

.ol1
{
  
  background: url("images/ol1.png") no-repeat;
  width:220px;
  height:23px;

}


.ol2
{
  
  background: url("images/ol2.png");
  width:220px;

}






.ol3
{
  
  background: url("images/ol3.png");
  width:220px;

}

.ol7
{
  
  background: url("images/ol7.png");
  width:220px;
  height:13px;

}

.ol9
{
  
  background: url("images/ol9.png");
  width:220px;
  height:21px;

}


.ol16
{
  
  background: url("images/ol16.png");
  width:220px;
  height:215px;
  padding-top:5px;

}


div.vs-photo-upload {
    background-color: rgb(238, 238, 238);/* #EAF1F9;*/
    display: block;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 2px solid rgb(178, 178, 178);
    -moz-border-radius: 5px 5px 5px 5px;
}
div.vs-photo-upload a {
    color: #CC0000;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

div.remove_uploaded_file {
	cursor: pointer;
    color: #CC0000;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
div.vs-upload-status {
    font-size: 0.8em;
    padding: 10px 0;
}

#contactus fieldset
{
   width:320px;
   padding:20px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}

#contactus legend, h2
{
   font-family : Arial, sans-serif;
   font-size: 14px;
   font-weight:bold;
   color:#333;
}

#contactus label
{
   font-family : Arial, sans-serif;
   font-size:14px;
   font-weight: bold;
}

#contactus input[type="text"],textarea
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height:140%;
  color : #000;
  padding : 3px;
  border : 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

#contactus input[type="text"]
{
  height:18px;
  width:220px;
 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;   
 
}

#contactus #scaptcha
{
  width:60px;
  height:18px;
}

#contactus input[type="submit"]
{
   width:100px;
   height:30px;
   padding-left:0px;
   
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;   
}

#contactus textarea
{
  height:120px;
  width:310px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   border-radius: 8px;  
}

#contactus input[type="text"]:focus,textarea:focus
{
  
  border : 1px solid lightblue;

}

#contactus .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#contactus .error
{
   font-family: Verdana, Arial, sans-serif;
   font-size: 12px;
   color: #900;
   background-color : #ffff00;
}

#contactus fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#contactus fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 12px;
   font-weight:bold;
   color:#333;   
}

#contactus .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 12px;
   color:#333;   
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#contactus .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 12px;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_crdiv p
{
    display:none;
}


#facebox {

    /* overlay is hidden before loading */
    display:none;

    /* standard decorations */
    width:650px;
    border:5px solid #666;

    /* for modern browsers use semi-transparent color on the border. nice! */
    border:5px solid rgba(82, 82, 82, 0.698);

    /* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
	
  }

  #facebox div {
    padding:10px;
    border:1px solid #3B5998;
    background-color:Azure;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif
  }

  #facebox h2 {
    margin:-11px;
    margin-bottom:0px;
    color:#fff;
    background-color:#6D84B4;
    padding:5px 10px;
    border:1px solid #3B5998;
    font-size:20px;
  }


<!--[if IE]>
  .facebox {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#333333);
  zoom: 1;
  }
<![endif]-->

